In [4]:
import MySQLdb as sql

In [5]:
db = sql.connect(host="127.0.0.1",port=3306,user="root",password="",database="world")

In [6]:
cur=db.cursor()

In [7]:
cmd="select name,population from country order by population desc limit 10"

In [8]:
cur.execute(cmd)

10

In [10]:
data=cur.fetchall()

In [11]:
data[0]

('China', 1277558000)

# Numpy

In [1]:
import requests

In [17]:
token="EAAiCinlj08cBAPmXf4OWqO5jk4tZAzA0MIBNco0SBj9nSgkwFBS1CusGdXYt6iYmq9ijRwARUUqrZBZCCX1W3ozh1KTnjass1ZC0yDQWhTB6z7fpZCQBO8ZBfulIcbZB7DTGgJxfFhi1OiOz8pkKBPBVz8kx2bc9ThRNp74gjMnxELnEkfqnLqDhKnVWwVl8FL5Hw7Ptqc27gZDZD"
query=input("enter your query ")
url=f"https://graph.facebook.com/v3.3/me?fields={query}&access_token={token}"

enter your query name,gender,birthday

In [18]:
page=requests.get(url)

In [19]:
page.status_code

200

In [20]:
page.content

b'{"name":"Yugant Shekhar","gender":"male","birthday":"09\\/18\\/2000","id":"1092808740914572"}'