1. Numbers
2. Strings
3. List
4. Tuple
5. Set
6. Dictionary

In [1]:
a = 1

In [2]:
type(a)

int

In [3]:
#int
a = 123456

In [4]:
type(a)

int

In [5]:
a = 9087654
type(a)

int

In [6]:
id(a)

1941266449584

In [7]:
a = 1
b = 1
print(id(a))
print(id(b))

1660251200
1660251200

In [8]:
a = 32
b = 32
print(id(a))
print(id(b))

1660252192
1660252192

In [9]:
a = 257
b = 257
print(id(a))
print(id(b))

1941266449584
1941266450864

In [10]:
a = 1.0000
type(a)

float

In [11]:
a = 3.45
print(id(a))

1941255711480

In [12]:
type(a)

float

In [13]:
a = input()

12

In [15]:
type(a)

str

In [16]:
abc = int(input())

12

In [17]:
type(abc)

int

In [18]:
num = float(input())

123

In [19]:
num

123.0

In [20]:
type(num)

float

In [25]:
num = int(input("Enter any value : "))

Enter any value : 12

In [26]:
print(num)
print(type(num))

12
<class 'int'>

In [27]:
num**3

1728

In [32]:
num % num

0

In [40]:
a = 3+4j

In [41]:
type(a)

complex

In [42]:
a + a

(6+8j)

<h2 style='color:red'>Strings</h2>

In [43]:
a = "a"

In [44]:
type(a)

str

In [45]:
id(a)

1941226389152

In [49]:
s = "string"

In [50]:
type(a)

str

In [51]:
a = str(12)

In [52]:
a

'12'

In [53]:
"hello" + "world"

'helloworld'

In [54]:
"hello" + " " + "world"

'hello world'

In [55]:
"hello" + 12 + 'world'

TypeError: must be str, not int

In [56]:
a = 'hello'
b = "hello"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [60]:
a = 'hello
world
hi
how
are
you'

SyntaxError: EOL while scanning string literal (<ipython-input-60-889494f49823>, line 1)

In [64]:
string = """Hi hello world
how are you
I am fine"""

In [65]:
print(string)

Hi hello world
how are you
I am fine

In [66]:
type(string)

str

In [67]:
a = "hello i am simran's mother"

In [71]:
print(a)

hello i am simran's mother

In [69]:
b = 'hey this is "name" of student'

In [72]:
print(b)

hey this is "name" of student

In [73]:
string = """hello
hi
world"""

In [74]:
string

'hello\nhi\nworld'

In [75]:
print(string)

hello
hi
world

In [77]:
print("hello" + "\n" + "world")

hello
world

In [78]:
print("hey"+"\t"+"jaipur")

hey	jaipur

In [79]:
a = input("Enter any number : ")
b = input("Enter another number : ")
print(a+b)

Enter any number : 12
Enter another number : 13
1213

In [80]:
a = int(input("Enter any number : "))
b = int(input("Enter another number : "))
print(a+b)

Enter any number : 12
Enter another number : 13
25

In [81]:
print("a"*10)

aaaaaaaaaa

In [82]:
print(10*90)

900

In [83]:
print("string"*10)

stringstringstringstringstringstringstringstringstringstring

In [84]:
a = input("Enter any string : ")
print(a*5)

Enter any string : Hello world this is simran
Hello world this is simranHello world this is simranHello world this is simranHello world this is simranHello world this is simran

In [85]:
a

'Hello world this is simran'

In [86]:
a[0]

'H'

In [87]:
a[5]

' '

In [88]:
a[10]

'd'

In [89]:
a[-1]

'n'

In [90]:
a[-5]

'i'

In [91]:
len(a)

26

In [92]:
a[-25]

'e'

In [93]:
a[0:10]

'Hello worl'

In [94]:
a[::]

'Hello world this is simran'

In [95]:
a[:15:2]

'Hlowrdti'

In [96]:
a[7::2]

'ol hsi irn'

In [97]:
a[:100:]

'Hello world this is simran'

In [1]:
s = "hello world"
s[::]

'hello world'

In [2]:
s[1:10:2]

'el ol'

In [3]:
len(s)

11

In [5]:
s.__len__()

11

In [6]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [7]:
s

'hello world'

In [8]:
s[-1:-10]

''

In [9]:
s[-1:-2:-1]

'd'

In [10]:
s[-2::-1]

'lrow olleh'

In [12]:
s[-2:7:-1]

'lr'

In [13]:
s

'hello world'

In [16]:
s[-1::-2]

'drwolh'

In [17]:
s[-1:-100:-1]

'dlrow olleh'

In [18]:
s[::-1]

'dlrow olleh'

In [19]:
s = "hello world"

In [20]:
s.split()

['hello', 'world']

In [21]:
s = "string"
s.split()

['string']

In [22]:
s = "hello world how are you"
s.split()

['hello', 'world', 'how', 'are', 'you']

In [25]:
s = "-------hello world-------"
s.split()

['-------hello', 'world-------']

In [33]:
s = "h-e-l-l-o-w-o-r-l-d"
l = s.split("-")
print(l)

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [34]:
" ".join(l)

'h e l l o w o r l d'

In [41]:
s = input("Enter any string : ")
k = s.split("-")
print(k)
news = " ".join(k)
print(news)

Enter any string : hello-world-how-are-you
['hello', 'world', 'how', 'are', 'you']
hello world how are you

In [39]:
k

['hello', 'world', 'how', 'are', 'you']

In [40]:
news

'hello world how are you'

In [42]:
s = "      hello world         "
len(s)

26

In [46]:
news = s.strip()

In [47]:
news

'hello world'

In [48]:
s

'      hello world         '

In [52]:
s = "       hello world           "
print('The original string is : ',s)
b = s.strip()
print("The string is : ",b)
l = s.lstrip()
print("The string after left strip is :",l)
r = s.rstrip()
print("The string after right strip is :",r)

The original string is :         hello world
The string is :  hello world
The string after left strip is : hello world
The string after right strip is :        hello world

In [53]:
s = "---------hello world-----------"
print("The original string is :",s)
print("The string after left strip is :",s.lstrip("-"))
print("The string after right strip is :",s.rstrip("-"))
print("The string after strip is : ",s.strip("-"))

The original string is : ---------hello world-----------
The string after left strip is : hello world-----------
The string after right strip is : ---------hello world
The string after strip is :  hello world

In [56]:
s = 'hello world'
s.center(50,"-")

'-------------------hello world--------------------'

In [57]:
name = input("Enter your name : ")
name.center(70,"*")

Enter your name : Simran

'********************************Simran********************************'

In [59]:
name.upper()

'SIMRAN'

In [60]:
name.lower()

'simran'

In [61]:
name.capitalize()

'Simran'

In [62]:
s = "hello world"
print(s.capitalize())

Hello world

In [63]:
s.title()

'Hello World'

In [64]:
s = "hello hi how are you"
s.title()

'Hello Hi How Are You'

In [65]:
s.capitalize()

'Hello hi how are you'

In [67]:
s = "Hello"
if s == s.casefold():
    print("Right")
else:
    print("Wrong")

Wrong

In [70]:
choice = input("Enter your choice ('yes'/no) : ").strip().lower()
if choice == "yes":
    print("DOne")
else:
    print("Done")

Enter your choice ('yes'/no) :               YeS
DOne

In [71]:
s

'Hello'

In [72]:
s.isalpha()

True

In [73]:
s = "hello123"

In [74]:
s.isalpha()

False

In [75]:
s.isalnum()

True

In [78]:
s.isdigit()

True

In [77]:
s = "123456"

In [79]:
s.index("1")

0

In [82]:
s = "hello world how are you"
s.index("how")

12

In [83]:
s = "hi hello {} how are you".format("simran")

In [84]:
s

'hi hello simran how are you'

In [85]:
s = "This is {} and have marks {}".format("simran",90)

In [86]:
s

'This is simran and have marks 90'

In [87]:
s = "This is {} and have marks {} and name {}".format("simran",90,"simran")

In [88]:
s

'This is simran and have marks 90 and name simran'

In [89]:
s = "This is {0} and have marks {1} and name {0}".format("simran",90)

In [90]:
s

'This is simran and have marks 90 and name simran'

In [96]:
s = "The place name is {one} and have {two} famous".format(one="jaipur",two="Hawa mehal")

In [97]:
s

'The place name is jaipur and have Hawa mehal famous'

In [98]:
s = "The name is {name} and have marks {marks} with name {name}".format(name="simran",marks=90)

In [99]:
s

'The name is simran and have marks 90 with name simran'

In [100]:
name = input("Enter your name : ")
marks = int(input("Enter your marks : "))
print(f"the name is {name} and have marks {marks}")

Enter your name : simran
Enter your marks : 30
the name is simran and have marks 30

<h1 style='color:red'>LISTS</h1>

1. Lists are sequential
2. Lists are ordered
3. Lists are mutable
4. It allow nested lists
5. They can be heterogenous or homogeneous

In [1]:
s = "string"

In [2]:
type(s)

str

In [3]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [4]:
l = []  #initialize empty list

In [5]:
type(l)

list

In [6]:
l = [1,2,3,4,5]  #homogenous list

In [7]:
l

[1, 2, 3, 4, 5]

In [8]:
l = ['hello','world','how','are','you']  #homoegeneous list of type string

In [9]:
l

['hello', 'world', 'how', 'are', 'you']

In [10]:
l = [1,2,3,4,'hello',90.8,10.5]  #heterogenous list

In [11]:
l

[1, 2, 3, 4, 'hello', 90.8, 10.5]

In [12]:
print(type(l))

<class 'list'>

In [15]:
l = [1,2,3,4,"hello","world",[3,45,90,10]]  #nested

In [14]:
l

[1, 2, 3, 4, 'hello', 'world', [3, 45, 90, 10]]

In [18]:
s = {1,2,3,4,[5,6,7]}

TypeError: unhashable type: 'list'

In [19]:
s.add(3)

In [20]:
s

{(5, 6, 7), 1, 2, 3, 4}

In [21]:
l = [4,5,6,"hello","world",['simran',[10,20,30]]]  #complex nested list

In [22]:
l

[4, 5, 6, 'hello', 'world', ['simran', [10, 20, 30]]]

In [23]:
l1 = [1,2,3,4]
l2 = ['simran','hello','world']

In [24]:
l3 = l1 + l2

In [25]:
l3

[1, 2, 3, 4, 'simran', 'hello', 'world']

In [26]:
l3*10

[1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world',
 1,
 2,
 3,
 4,
 'simran',
 'hello',
 'world']

In [27]:
print(l3*5)

[1, 2, 3, 4, 'simran', 'hello', 'world', 1, 2, 3, 4, 'simran', 'hello', 'world', 1, 2, 3, 4, 'simran', 'hello', 'world', 1, 2, 3, 4, 'simran', 'hello', 'world', 1, 2, 3, 4, 'simran', 'hello', 'world']

In [28]:
l

[4, 5, 6, 'hello', 'world', ['simran', [10, 20, 30]]]

In [29]:
l3

[1, 2, 3, 4, 'simran', 'hello', 'world']

In [30]:
l3[::]

[1, 2, 3, 4, 'simran', 'hello', 'world']

In [31]:
l3[::-1]

['world', 'hello', 'simran', 4, 3, 2, 1]

In [32]:
l3[-1:-10:-1]

['world', 'hello', 'simran', 4, 3, 2, 1]

In [33]:
l3[-1:5]

[]

In [34]:
l3[-1:-10:1]

[]

In [35]:
l3[-1:5:-1]

['world']

In [36]:
l3

[1, 2, 3, 4, 'simran', 'hello', 'world']

In [37]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

<h3 style='color:red'>FUnctions to add elements</h3>

1. append
2. insert
3. extend

In [38]:
languages = ['hindi','english','marathi','tamil','gujrati']

In [39]:
languages.append('punjabi')

In [40]:
languages

['hindi', 'english', 'marathi', 'tamil', 'gujrati', 'punjabi']

In [42]:
languages.append(('punjabi','hindi'))

In [43]:
languages

['hindi',
 'english',
 'marathi',
 'tamil',
 'gujrati',
 'punjabi',
 ('punjabi', 'hindi')]

In [44]:
languages.append('hindi')

In [45]:
languages

['hindi',
 'english',
 'marathi',
 'tamil',
 'gujrati',
 'punjabi',
 ('punjabi', 'hindi'),
 'hindi']

In [46]:
languages.insert(2,"bengali")

In [47]:
languages

['hindi',
 'english',
 'bengali',
 'marathi',
 'tamil',
 'gujrati',
 'punjabi',
 ('punjabi', 'hindi'),
 'hindi']

In [48]:
languages.insert(-2,'tamil')

In [49]:
languages

['hindi',
 'english',
 'bengali',
 'marathi',
 'tamil',
 'gujrati',
 'punjabi',
 'tamil',
 ('punjabi', 'hindi'),
 'hindi']

In [51]:
languages[-2]

('punjabi', 'hindi')

In [52]:
languages[-1] = "malwari"

In [54]:
languages

['hindi',
 'english',
 'bengali',
 'marathi',
 'tamil',
 'gujrati',
 'punjabi',
 'tamil',
 ('punjabi', 'hindi'),
 'malwari']

In [55]:
languages[-1]

'malwari'

In [56]:
languages.insert(-3,'hindi')

In [60]:
languages[-4]

'punjabi'

In [59]:
languages[-4] = "punjabi"

In [61]:
languages[3] = ['english','english']

In [62]:
languages

['hindi',
 'english',
 'bengali',
 ['english', 'english'],
 'tamil',
 'gujrati',
 'punjabi',
 'punjabi',
 'tamil',
 ('punjabi', 'hindi'),
 'malwari']

In [63]:
print(languages)

['hindi', 'english', 'bengali', ['english', 'english'], 'tamil', 'gujrati', 'punjabi', 'punjabi', 'tamil', ('punjabi', 'hindi'), 'malwari']

In [67]:
languages[3][1]

'english'

In [68]:
languages[3][1] = 'hindi'

In [69]:
languages

['hindi',
 'english',
 'bengali',
 ['english', 'hindi'],
 'tamil',
 'gujrati',
 'punjabi',
 'punjabi',
 'tamil',
 ('punjabi', 'hindi'),
 'malwari']

In [73]:
l = []

In [71]:
l.extend('python')

In [72]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [76]:
l.extend(['python','java','ruby','c','c++'])

In [77]:
l

['python', 'java', 'ruby', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

<h3 style='color:red'>Functions to remove items</h3>

1. pop
2. pop(index)
3. remove

In [87]:
cities = ['delhi','jaipur','gurgaon','noida','ajmer','gwalior']

In [79]:
cities.pop()

'gwalior'

In [80]:
cities

['delhi', 'jaipur', 'gurgaon', 'noida', 'ajmer']

In [81]:
cities.pop(3)

'noida'

In [82]:
cities

['delhi', 'jaipur', 'gurgaon', 'ajmer']

In [88]:
print("The original list of cities are : ",cities)
item = cities.pop()
print("The deleted item is : ",item)
print("Now the list of cities is : ",cities)
index = int(input("Enter the index you want to delete : "))
item = cities.pop(index)
#print("The deleted item is {} at index {} and the list is {}".format(item,index,cities))
print(f"The deleted item is {item} at index {index} and the list is {cities}")

The original list of cities are :  ['delhi', 'jaipur', 'gurgaon', 'noida', 'ajmer', 'gwalior']
The deleted item is :  gwalior
Now the list of cities is :  ['delhi', 'jaipur', 'gurgaon', 'noida', 'ajmer']
Enter the index you want to delete : 2
The deleted item is gurgaon at index 2 and the list is ['delhi', 'jaipur', 'noida', 'ajmer']

In [89]:
cities

['delhi', 'jaipur', 'noida', 'ajmer']

In [90]:
cities.remove("noida")

In [91]:
cities

['delhi', 'jaipur', 'ajmer']

In [92]:
l

['python', 'java', 'ruby', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [93]:
l.remove('java')

In [94]:
l

['python', 'ruby', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [95]:
'java' in l

True

In [96]:
'python' not in l

False

# <h3 style='color:red'>Common functions</h3>

1. count
2. index
3. sort
4. copy
5. reverse
5. clear

In [97]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [98]:
l

['python', 'ruby', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [99]:
print(l.count('python'))

2

In [101]:
l.count('java')

1

In [102]:
l.count('ruby')

2

In [104]:
l1

[1, 2, 3, 4]

In [105]:
l1.clear()

In [106]:
l1

[]

In [107]:
l

['python', 'ruby', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [108]:
l1 = l
l2 = l.copy()

In [109]:
print(id(l))
print(id(l1))
print(id(l2))

1859103526152
1859103526152
1859103360904

In [110]:
l[1] = 'java'

In [111]:
l

['python', 'java', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [112]:
l1

['python', 'java', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [113]:
l2

['python', 'ruby', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [114]:
l2

['python', 'ruby', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [115]:
l1

['python', 'java', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [116]:
l

['python', 'java', 'c', 'c++', 'python', 'java', 'ruby', 'c', 'c++']

In [117]:
languages

['hindi',
 'english',
 'bengali',
 ['english', 'hindi'],
 'tamil',
 'gujrati',
 'punjabi',
 'punjabi',
 'tamil',
 ('punjabi', 'hindi'),
 'malwari']

In [118]:
l4 = [1,2,3,4,'hello','hi','how','are']

In [119]:
l4.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [120]:
languages.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [121]:
cities

['delhi', 'jaipur', 'ajmer']

In [122]:
cities.append('noida')

In [123]:
cities.sort()

In [124]:
cities

['ajmer', 'delhi', 'jaipur', 'noida']

In [126]:
l = [3,4,10,40,13,34,79]
print("The original list is : ",l)
l.sort()
print("The list after sorting is : ",l)

The original list is :  [3, 4, 10, 40, 13, 34, 79]
The list after sorting is :  [3, 4, 10, 13, 34, 40, 79]

In [132]:
l = [['simran',1001,20000],
    ['rahul',1002,3000],
    ['Sachin',1003,40000]]

In [133]:
l.sort()

In [134]:
l

[['Sachin', 1003, 40000], ['rahul', 1002, 3000], ['simran', 1001, 20000]]

In [135]:
cities

['ajmer', 'delhi', 'jaipur', 'noida']

In [136]:
cities.index('jaipur')

2

In [137]:
languages

['hindi',
 'english',
 'bengali',
 ['english', 'hindi'],
 'tamil',
 'gujrati',
 'punjabi',
 'punjabi',
 'tamil',
 ('punjabi', 'hindi'),
 'malwari']

In [139]:
languages.index('gujrati')

5

In [140]:
languages[3].index('hindi')

1

In [141]:
l

[['Sachin', 1003, 40000], ['rahul', 1002, 3000], ['simran', 1001, 20000]]

In [142]:
data = [
    ['simran','rahul','riya','aditya'],
    [1001,1002,1003,1004],
    [80,90,100,20]
]

In [143]:
rollno = int(input("Enter your roll no : "))
i = data[1].index(rollno)
data[2][i] = int(input("Enter new marks : "))

Enter your roll no : 1001
Enter new marks : 90

In [144]:
data

[['simran', 'rahul', 'riya', 'aditya'],
 [1001, 1002, 1003, 1004],
 [90, 90, 100, 20]]

In [146]:
data[1].index(1001)

0

In [148]:
data[2][0] = 50

In [149]:
data

[['simran', 'rahul', 'riya', 'aditya'],
 [1001, 1002, 1003, 1004],
 [50, 90, 100, 20]]

In [151]:
cities.reverse()

In [153]:
cities.sort(reverse=True)

In [154]:
cities

['noida', 'jaipur', 'delhi', 'ajmer']